attrs==21.4.0
brotlicffi==1.1.0.0
brotlipy==0.7.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==37.0.1
Cython==0.29.32
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
filelock==3.6.0
HTMLParser==0.0.2
importlib_metadata==4.11.3
ipython==7.31.1
ipywidgets==7.6.5
Jinja2==2.11.3
jnius==1.1.0
keras==2.14.0
keyring==23.4.0
matplotlib==3.5.2
mock==4.0.3
numpy==1.21.5
ordereddict==1.1
pandas==1.4.4
pandas_datareader==0.10.0
pandas_ta==0.3.14b
Pillow==9.2.0
Pillow==10.1.0
protobuf==4.24.4
pyOpenSSL==22.0.0
pyOpenSSL==23.3.0
railroad==0.5.0
redis==5.0.1
scikit_learn==1.0.2
simplejson==3.19.2
Sphinx==5.0.2
tensorflow==2.14.0
tornado==6.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
yfinance==0.2.26
zstandard==0.21.0
